@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    border: 1px solid black;
}

header {
    margin: auto;
    border: 20px;
    padding: 20px;
    height: 33px;
    background-color: powderblue;
    font-size: 30px;
    font-family: 'Noto Sans', sans-serif;
}
/* This is container 1 CSS */
.container1{
    width: 20vw;
    height:auto;
    padding: 10px;
    margin:10px;
    border: 1px solid black;
    background-color: rgb(239, 167, 208);
    float: left;
    font-family: 'Montserrat', sans-serif;
}
.dropdown__button{
    border:none;
    background: rgb(239, 167, 208);
}
.my_1{
    margin: 5px;
    padding:3px;
    justify-content: center;
}


.container1 a{
    text-decoration: none;
}
.container1 a:hover{
    color: black;
}

.search_engine{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px 5px;
    border: 1px solid black;
}
.hide{
    display: none;
}

.destination{
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}
#Orgin_city{
    padding:10px 0px;

}
#Destination_city{
    padding: 10px 0px;
    
}
#start{
    padding:10px 0px;

}

.date{
    display: flex;
    flex-direction: column;
   
}


/* This is container 2 CSS */
.container2{
    width: auto;
    height:auto;
    margin:10px;
    padding: 10px;
    border: 1px solid black;
    background-color: rgb(184, 172, 227);
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}
.goto{
    margin:10px;
    padding: 10px;
    border-bottom: 1px solid black;
    display: inline-block;
}

.right{
    text-align: end;
}


.card{
   border: 1px solid black;
   padding: 10px;
   margin:10px;
}

.wrap{
    display: inline-block;
    padding:0px 80px;
}

.wrap img{
    width: 8vw;
    display: inline-block;
}
.wrap button{
    display:flex;
    padding: 4px;
    background-color: rgb(184, 172, 227);
}
.price{
    border: 1px solid black;
    margin: 10px;
    padding: 10px 5px;
}






